.navbar__container {
    top: 0;
    margin-left: 0;
    height: 50px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: #1976d2;
    z-index: 999;
    &-logo{
        width: 100px;
        height: 50px;
        margin-left: 5px;
        img {
            height: 50px;
        }
    }

    &-menu {
        margin-right: 5px;
        font-weight: bold;
        color: #fff;
        li {
            float: left;
            list-style: none;
            margin-right: 20px;
        }
    }
}